.RollDice button {
    width: 15em;
    background-color: black;
    padding: 1.5em;
    border: 0px;
    border-radius: 15px;
    color: white;
    margin-top: 3em;
}

.RollDice button:hover {
    background-color: skyblue;
    cursor: pointer
}